body {
    font-family: 'Overpass';
    font-style: normal;
    padding-top: 100px;
}



.background-color{
    background-color:#FAF2F0;
}

.project{
    border-left: 5px solid #C7D7DB;
} 

.project-background{
    background-color:#F5EBE8;
}

.resume{
    border-color: #000;
    border-radius: 5px;
    background-color:transparent;
    border-width: 3px;
    text-align: center;
}

.resume-font{
    font-size: 20px;
    padding-right:5px;
    font-weight:bold;
}

.resume:hover{
    background-color:black;
    color:white;
}

.back{
    background-image:url("../img/blob\ \(2\).svg");
    background-color: #e1afa4;
    /* Center and scale the image nicely */
    background-position:right;
    background-repeat: repeat;
    background-size: cover;
}

.navbar-light,.navbar-nav{
    font-weight: 800;
    font-size: 14px;
    line-height: 100.5%;
    /* identical to box height, or 14px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.155em;
    
    /* #0C0A3C */
    
    color: black !important;
    opacity: 1;
    }
    
    .nav-link{
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      padding-right: 0 !important;
      padding-left: 0 !important;
      color: black !important;
    }
    .nav-link:hover {
      opacity: 1;
    }
    
    .nav-link::before {
      transition: 300ms;
      height: 2px;
      content: "";
      position: absolute;
      background-color: black;
    }
    
    .nav-link-ltr::before {
      width: 0%;
      bottom: 5px;
    }
    
    .nav-link-ltr:hover::before {
      width: 100%;
    }

    .big-header{
        font-weight:bold;
        
      font-size: 40px;
    }

    .header{
        font-weight:bold;
      font-size: 40px;
    }

    .text{
      font-size: 20px;
    }

    .bold{
        font-weight:bold;
    }

    .sub-header{
        color: #0a1a2b;
        font-family: "IBM Plex Mono",monospace;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    .skill{
        font-family: "IBM Plex Mono",monospace;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #6b6768;
    }

    


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}


div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

.button {
    display: inline-block;
    background: #ee7968;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.contact_info {
    width: 100%;
    padding-top: 70px
}

.contact_info_item {
    background-color: #FFFFFF;
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 32px;
    padding-right: 15px
}

.contact_info_image {
    width: 35px;
    height: 35px;
    text-align: center
}

.contact_info_image img {
    max-width: 100%
}

.contact_info_content {
    padding-left: 17px
}

.contact_info_title {
    font-weight: 500
}

.contact_info_text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
}

.content {
    padding-top: 85px
}

.contact_form_container {}

.contact_form_title {
    color: #0a1a2b;
    font-family: "IBM Plex Mono",monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.contact_form_text{
    margin-bottom: 37px;
    font-family: "IBM Plex Mono",monospace;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #6b6768;
}

.contact_form_inputs {
    margin-bottom: 30px
}

.input_field {
    font-family: "IBM Plex Mono",monospace;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #6b6768;
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: black;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.input_field:focus,
.text_field:focus {
    border-color: #b2b2b2
}

.input_field:hover,
.text_field:hover {
    border-color: #b2b2b2
}

.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}

.input_field:-moz-placeholder,
.text_field:-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}

.input_field::-moz-placeholder,
.text_field::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}

.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}

.input_field::input-placeholder,
.text_field::input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}

.text_field {
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: black;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.contact_submit_button {
    padding-left: 35px;
    padding-right: 35px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px
}

.panel {
    width: 100%;
    height: 50px;
    background: #fafafa;
    margin-top: 120px
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  color: #0C0A3C !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#0C0A3C !important;
}

@media only screen and (max-width: 991px) {
    .contact_info_item {
        width: 100%;
        margin-bottom: 30px
    }

    .contact_info_item:last-child {
        margin-bottom: 0px
    }
}

@media only screen and (max-width: 767px) {
    .input_field {
        margin-bottom: 30px;
        width: 100%
    }

    .input_field:last-child {
        margin-bottom: 0px
    }
}

@media only screen and (max-width: 575px) {
    .contact_submit_button {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px
    }
}

.footer{
  display: inline-flex;
  font-size: 12px;
}

.card-design{
background: #FFFFFF;
border: 1px solid #DADADA;
box-sizing: border-box;
box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.04);
border-radius: 20px;
}


    