
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #3d4351;
    margin-top: 0;
  }
  
  a {
    color: #ff6b6b;
  }
  a:hover {
    color: #ff9a9a;
    text-decoration: none;
  }
  
  .example-header {
    background: #3d4351;
    color: #fff;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
  }
  .example-header h1 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .example-header p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
  }
  
  .container-fluid .p-t {
    padding: 74px 0px 0px 0px;
  }
  .container-fluid .row:nth-child(even) {
    background: #f1f4f5;
  }
  
  .example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #e4eaec;
  }
  .example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
  }
  
  /*==================================
      TIMELINE
  ==================================*/
  /*-- GENERAL STYLES
      ------------------------------*/
  .timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timeline h1,
  .timeline h2,
  .timeline h3,
  .timeline h4,
  .timeline h5,
  .timeline h6 {
    line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    margin: 0 0 0.5em 0;
    white-space: nowrap;
  }

  .timeline-info span{
    font-family: "IBM Plex Mono",monospace;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #595959;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #EE7A69;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 1px;
    background: #EE7A69;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #EE7A69;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 40px;
    font-family: "IBM Plex Mono",monospace;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #6b6768;
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }

  .timeline-title{
    color: #0a1a2b;
    font-family: "IBM Plex Mono",monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 1px solid #EE7A69;
    border-bottom: 1px solid #EE7A69;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
  
  /*----------------------------------------------
          MOD: TIMELINE SPLIT
      ----------------------------------------------*/
  @media (min-width: 768px) {
    .timeline-split .timeline, .timeline-centered .timeline {
      display: table;
    }
    .timeline-split .timeline-item, .timeline-centered .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
      position: relative;
    }
    .timeline-split .timeline-content, .timeline-centered .timeline-content {
      padding-left: 30px;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info {
      padding-right: 30px;
    }
    .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
  
  /*----------------------------------------------
          MOD: MARKER OUTLINE
      ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #ff6b6b;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #ff6b6b;
  }
  